From: lynn.blair@enron.com
To: ava.garcia@enron.com, elizabeth.brown@enron.com, rick.dietz@enron.com, 
	terry.kowalke@enron.com
Date: Mon, 17 Sep 2001 16:24:26 -0700 (PDT)
Subject: TW Capacity posting requirements
Ava, please set up a meeting with the following people: Shelley Corman Rick Dietz Elizabeth Brown Terry Kowalke Lynn Blair Timing: This week - One hour - Make it towards the end of the week Topic - Status of the reports on the FERC requirements on the California Marketing reports on Transwestern's pipe. Thanks. Lynn
