From: lynn.blair@enron.com
To: steven.january@enron.com
Date: Wed, 29 Aug 2001 16:37:13 -0700 (PDT)
Subject: FW: TW requirements for Inside/Outside the Path and TW Flow
 Direction
FYI. Thought you might be interested. Thanks. Lynn -----Original Message----- From: Betancourt, Ramona Sent: Tuesday, August 28, 2001 11:37 AM To: Trevino, Linda; Lee, Dennis; Brown, Elizabeth; Donoho, Lindy; Lohman, TK; Watson, Kimberly Cc: Dietz, Rick; Holmes, Bradley; Kedwaii, Hasan; Duff, David; Blair, Lynn Subject: TW requirements for Inside/Outside the Path and TW Flow Direction Attached below are the two files for TW CMS/TMS requirements on flow direction and current process for inside/outside the path requirements. Please review these documents and let me know if you have any questions or corrections to apply to either document by COB 8/31/01. Linda, please keep me in the loop on both of the projects since they interface directly with TMS. Thanks Ramona
