From: jeff.merola@enron.com
To: p..o'neil@enron.com
Date: Fri, 9 Nov 2001 08:11:16 -0800 (PST)
Subject: Customer Reporting Requirements
Murray, After our meeting on Wednesday, I spoke with Richard Ring concerning the customer reporting requirements for environmental/generation mix disclosure. He has been and plans on continuing to address this issue. Accordingly, you can remove this from your list / or coordinate requirements with Richard. Thanks, Jeff
